@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.activity-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  &__section1 {
    display: flex;
    margin-bottom: 30px;
    @include media(1150) {
      justify-content: center;
    }
    .container {
      display: flex;
      align-items: center;
      gap: 30px;
      justify-content: space-between;
      position: relative;
      @include media(1150) {
        max-width: 600px;
        width: 100%;
        justify-content: center;
        background: #00000047;
      }
      img {
        max-width: 600px;
        @include media(1150) {
          position: absolute;
          z-index: -30;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: blur(1px);
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1000px;
      @include media(1150) {
        padding: 15px;
      }
      h3 {
        @include media(1150) {
          font-size: 25px;
          color: white;
          text-shadow: 0px 6px 10px #00000048;
        }
      }
      p {
        @include media(1150) {
          font-size: 17px;
          color: white;
        }
      }
    }
    &-worklist {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-task {
      ul {
        padding-left: 35px;
        span {
          @include media(1150) {
            font-size: 15px;
            color: rgb(207, 207, 207);
          }
        }
      }
    }
    &-work {
      font-weight: 500;
      font-size: 22px;
      text-transform: uppercase;
      color: black;
      transition: 0.3s;
      &:hover {
        color: #0068b4;
      }
      @include media(1150) {
        font-size: 17px;
        color: white;
      }
    }
  }
  &__section2 {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media(1050) {
        justify-content: center;
      }
      @include media(700) {
        flex-direction: column;
      }

      h3 {
        @include media(550) {
          text-align: center;
          padding-top: 30px;
        }
        @include media(1050) {
          font-size: 25px;
        }
      }
    }
    &-btn {
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 10px 5px 5px 0;
      cursor: pointer;
      border-bottom: solid 2px rgb(170, 170, 170);
      text-align: left;
      @include media(1250) {
        max-width: 480px;
        font-size: 17px;
      }
      @include media(700) {
        max-width: 350px;
        text-align: center;
      }
    }
    &-content {
      @include media(700) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      ul {
        li {
          @include media(700) {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    &-images {
      display: flex;
      flex-wrap: wrap;
      max-width: 550px;
      // width: 100%;
      height: max-content;
      @include media(1050) {
        max-width: 500px;
        justify-content: center;
      }
      img {
        max-width: 250px;
        height: 180px;
        object-fit: cover;
        @include media(1050) {
          max-width: 200px;
          height: 130px;
        }
      }
    }
  }
  &__section3 {
    position: relative;
    margin: 50px 0;
    &-banner {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: -20;
    }
    &-nav {
      background: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media(550) {
        flex-direction: column;
      }
      h3 {
        color: white;
        @include media(550) {
          text-align: center;
        }
      }
      img {
        @include media(700) {
          max-width: 200px;
        }
      }
    }
    &-content {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;
      @include media(700) {
        justify-content: center;
      }
    }
    &-card {
      position: relative;
      max-width: 330px;
      padding-right: 30px;
      p {
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        background: #3b7dbb;
        border: solid 5px #75b8f6;
        max-width: 280px;
        padding: 20px;
      }
    }
    &-logos {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 0;
      top: 10px;
      z-index: 10;
      gap: 10px;
      img {
        max-width: 55px;
      }
    }
  }
}
