@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.service-1 {
  .container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;

    @include media(1100) {
      justify-content: center;
    }
  }
  &__greet {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      @include media(500) {
        font-size: 25px;
      }
    }
    @include media(500) {
      max-width: 350px;
    }
    &-img {
      // max-width: 550px;
      width: 100%;
    }

    &-subtitle {
      font-weight: 700;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
    text-decoration: underline;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    @include media(500) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    width: 100%;
    gap: 15px;
    // flex-wrap: wrap;

    &:nth-child(2) {
      grid-row: span 2 / span 2;
    }
    &:nth-child(5) {
      grid-row-start: 3;
    }
    &:nth-child(6) {
      grid-row-start: 3;
    }
    img {
      max-width: 70px;
      width: 100%;
    }
    h4 {
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      border-bottom: solid 2px black;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      p {
        color: gray;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
.service-2 {
  .container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;

    @include media(1100) {
      justify-content: center;
    }
  }
  &__greet {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      @include media(500) {
        font-size: 25px;
      }
    }
    @include media(500) {
      max-width: 350px;
    }
    &-img {
      // max-width: 550px;
      width: 100%;
    }

    &-subtitle {
      font-weight: 700;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
    text-decoration: underline;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    @include media(500) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    width: 100%;
    gap: 15px;
    // flex-wrap: wrap;

    img {
      max-width: 70px;
      width: 100%;
    }
    h4 {
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      border-bottom: solid 2px black;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      p {
        color: gray;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
.service-3 {
  .container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 50px 0;
    flex-wrap: wrap;

    @include media(1100) {
      justify-content: center;
    }
  }
  &__greet {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      @include media(500) {
        font-size: 25px;
      }
    }
    @include media(500) {
      max-width: 350px;
    }
    &-img {
      // max-width: 550px;
      width: 100%;
    }

    &-subtitle {
      font-weight: 700;
      text-align: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
    text-decoration: underline;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    @include media(500) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
    gap: 15px;
    // flex-wrap: wrap;

    img {
      max-width: 70px;
      width: 100%;
    }
    h4 {
      font-size: 17px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      border-bottom: solid 2px black;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      p {
        color: gray;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
