@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__section1 {
    display: flex;
    .container {
      display: flex;
      align-items: center;
    }

    @include media(900) {
      img {
        max-width: 200px;
      }
    }
    @include media(600) {
      img {
        max-width: 150px;
      }
    }
    @include media(450) {
      img {
        display: none;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1000px;
      h3 {
        @include media(900) {
          font-size: 25px;
        }
        @include media(600) {
          // font-size: 2px;
        }
      }
    }
  }
  &__section2 {
    display: flex;
    .container {
      display: flex;
      align-items: center;
    }

    @include media(900) {
      img {
        max-width: 200px;
      }
    }
    @include media(600) {
      img {
        max-width: 150px;
      }
    }
    @include media(450) {
      img {
        display: none;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1000px;
      h3 {
        @include media(900) {
          font-size: 25px;
        }
        @include media(600) {
          // font-size: 2px;
        }
      }
    }
  }
  &__section3 {
    height: 370px;
    position: relative;
    background: #00000040;
    @include media(990) {
      height: 100%;
      background-size: cover;
    }

    &-backround {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -20;
      object-fit: cover;
    }

    .container {
      display: flex;
      flex-direction: column;
      padding: 30px 0;
      margin-bottom: 10px;
    }

    &-content {
      @include media(1250) {
        padding: 0 20px;
      }
    }

    &-subtitle {
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      color: #ffff;
      @include media(990) {
        font-size: 13px;
      }
    }
    &-title {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      padding: 10px 0;
      color: white;

      @include media(990) {
        font-size: 18px;
      }
    }
    &-description {
      font-weight: 300;
      font-size: 13px;
      text-transform: capitalize;
      color: #fff;
      padding-bottom: 40px;
      @include media(990) {
        font-size: 12px;
      }
    }
    &-cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include media(990) {
        justify-content: center;
        gap: 20px;
      }
    }
    &-card {
      max-width: 330px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(990) {
        max-width: 300px;
      }
      h3 {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        @include media(990) {
          font-size: 14px;
        }
      }
      p {
        font-weight: 400;
        font-size: 14px;
        text-align: justify;
        color: #fff;
        @include media(990) {
          font-size: 12px;
          padding-bottom: 20px;
        }
        @include media(530) {
          padding-bottom: 30px;
        }
      }
      img {
        width: 80px;
        padding: 10px;
        @include media(990) {
          width: 60px;
        }
      }
    }
  }
  &__section4 {
    padding: 32px 0 54px;
    &-title {
      padding-bottom: 60px;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #222a31;
    }
    &-content {
      display: flex;
      justify-content: space-between;
      span {
        position: relative;

        p {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 15px;
          text-transform: lowercase;
          color: #fff;
          text-align: center;
        }
        svg {
          position: absolute;
          z-index: -30;
        }
      }
      h4 {
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #222a31;
        max-width: 275px;
        text-align: justify;
      }
    }
    &-card {
      max-width: 360px;
      width: 100%;
      img {
        width: 100%;
        padding-bottom: 15px;
      }
    }
    &-news {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
      @include media(1190) {
        justify-content: center;
        gap: 15px;
      }
    }
  }
  &__section5 {
    .container {
      @include media(550) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-list {
      padding: 0 20px;
      li {
        padding: 5px;
        list-style: disc;
      }
    }
    img {
      @include media(550) {
        max-width: 300px;
      }
    }
  }
}
.history-page {
  margin: 30px 0;
  &__section1 {
    h3 {
      @include media(950) {
        text-align: center;
      }
    }
    &-content {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding: 20px 0;
      @include media(950) {
        flex-direction: column;
        justify-content: start;
        align-items: center;
      }
      img {
        max-width: 350px;
        width: 100%;
        object-fit: contain;
        @include media(450) {
          max-width: 300px;
        }
      }
    }
  }
  &__section2 {
    display: flex;
    .iconBannerImg {
      @include media(700) {
        display: none;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      h3 {
        max-width: 400px;
        @include media(700) {
          margin: 0 auto;
        }
      }
    }
    &-timeline {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      &-img {
        display: flex;
      }
      &-content {
        max-width: 300px;
        width: 100%;
        padding: 10px;
        border: solid 2px #f5a623;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          text-align: center;
          font-size: 18px;
        }
      }
    }
    &-time {
      display: flex;
      position: relative;
      width: 180px;
      height: 80px;
      align-items: center;
      justify-content: center;
      p {
        font-size: 30px;
        font-weight: 400;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.structure-page {
  margin: 30px 0;
  &__section1 {
    img {
      width: 100%;
    }
  }
  &__section2 {
    margin: 30px 0;
    .main-title {
      margin-top: 80px;
    }
    .container {
      @include media(850) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-card {
      display: flex;
      align-items: center;
      gap: 80px;
      border: solid 1px rgb(226, 226, 226);
      border-radius: 5px;
      padding: 10px 20px;

      @include media(850) {
        flex-direction: column;
        max-width: max-content;
      }
      img {
        max-width: 250px;
        width: 100%;
        object-fit: contain;
      }
      &-content {
        max-width: 840px;
        @include media(850) {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 400px;
        }
        @include media(550) {
          max-width: 300px;
        }
        h3 {
          padding-bottom: 20px;
          font-size: 25px;
          font-weight: 500;
          @include media(850) {
            text-align: center;
          }
        }
        h4 {
          font-size: 20px;
          padding: 20px 0 10px;
          font-weight: 500;
          @include media(850) {
            text-align: center;
          }
        }
        p {
          @include media(850) {
            text-align: center;
          }
          @include media(550) {
            font-size: 15px;
          }
        }
      }
    }
    &-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-numlist {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &-numitem {
      font-size: 13px;
      font-weight: 400;
      color: gray;
      span {
        font-weight: 700;
      }
    }
  }
}
.manage-page {
  h3 {
    margin-top: 30px;
    @include media(500) {
      font-size: 20px;
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 80px;
  }
  &__card {
    &-info {
      display: flex;
      max-width: 770px;
      gap: 130px;
      border: solid 1px rgb(226, 226, 226);
      border-radius: 5px;
      padding: 10px;

      @include media(650) {
        gap: 50px;
      }
      @include media(500) {
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
      img {
        max-width: 150px;
        object-fit: contain;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        @include media(500) {
          align-items: center;
        }
        h4 {
          font-size: 20px;
          text-transform: uppercase;
          @include media(500) {
            text-align: center;
          }
        }
        span {
          font-weight: 700;
        }
        p {
          font-size: 15px;
          @include media(500) {
            text-align: center;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
  &__button {
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #0068b4;
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.2s;
    border: solid 2px #0068b4;
    cursor: pointer;
    &:hover {
      color: #0068b4;
      background: white;
    }
  }
  &__dropdown {
    position: fixed;
    background: #00000053;
    top: 20px;
    right: 250px;
    max-width: 950px;
    width: 100%;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    @include media(1250) {
      right: 20px;
    }
    @include media(1000) {
      max-width: 600px;
      overflow-y: scroll;
      max-height: 80vh;
    }
    @include media(650) {
      max-width: 400px;
      overflow-y: scroll;
      max-height: 80vh;
    }
    @include media(550) {
      max-width: 300px;
      overflow-y: scroll;
      max-height: 80vh;
    }
    &-burger {
      width: 30px;
      height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 999;
      margin-top: 20px;
      transition: all 0.8s ease;
      span {
        display: block;
        height: 3px;
        background: #666;
        border-radius: 2px;
        transition: all 0.3s ease;
        &:nth-child(1) {
          transform: rotate(45deg) translateY(13px);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translateY(-13px);
        }
      }
    }
    &-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: solid 1px rgb(219, 219, 219);
    }
    p {
      padding: 20px 15px;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      border-bottom: solid 1px rgb(219, 219, 219);
    }
    button {
      font-size: 18px;
      padding: 10px 15px;
      background: rgb(125, 131, 148);
      font-weight: 500;
      color: white;
      margin: 15px;
      border-radius: 5px;
    }
  }
}
.vacancy-page {
  h3 {
    margin-top: 30px;
  }
  &__card {
    border: solid 1px rgb(218, 218, 218);
    border-radius: 5px;
    button {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border-bottom: solid 1px rgb(218, 218, 218);
      padding: 15px 20px 10px 20px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      border-radius: 5px;
      &:focus {
        background: rgba(126, 171, 255, 0.275);
        color: rgb(0, 100, 255);
        border: solid 1px rgb(0, 100, 255);
      }
      .arrow-up::before {
        content: "<";
        transform: rotate(90deg);
        display: inline-block;
        font-size: 30px;
        color: gray;
      }

      .arrow-down::before {
        content: ">";
        transform: rotate(90deg);
        display: inline-block;
        font-size: 30px;
        color: gray;
      }
    }
  }
  &__content1 {
    padding: 15px 20px;
    border-top: solid 1px rgb(218, 218, 218);
    border-bottom: solid 1px rgb(218, 218, 218);
  }
  &__details {
    margin-top: 30px;
  }
}
.public-page {
  h3 {
    &:nth-child(1) {
      margin-top: 30px;
    }
    @include media(700) {
      font-size: 25px;
    }
    @include media(550) {
      font-size: 20px;
    }
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    img {
      max-width: 250px;
      width: 100%;
      object-fit: contain;
    }
  }
}