@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}

.exp-page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  &__section1 {
    display: flex;
    justify-content: space-between;
    .iconBannerImg {
      @include media(1150) {
        display: none;
      }
    }
    @include media(1150) {
      margin: 30px 0;
      padding: 0 10px;
    }
    @include media(800) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-map {
      max-width: 1000px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: end;
      @include media(1150) {
        height: 650px;
      }
      @include media(800) {
        justify-content: center;
      }
      @include media(700) {
        height: 500px;
      }
      @include media(500) {
        flex-direction: column;
      }
      &-img {
        width: 100%;
        position: absolute;
        z-index: -150;
        top: 0;
        @include media(500) {
          position: inherit;
        }
      }
      &-cards {
        display: flex;
        gap: 10px;
        height: 100%;
        align-items: end;
        @include media(800) {
          align-items: start;
          height: max-content;
        }
        @include media(500) {
          flex-wrap: wrap;
          justify-content: center;
        }
        h5 {
          font-size: 40px;
          font-weight: 700;
          padding: 25px;
          width: max-content;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            position: absolute;
            z-index: -100;
            width: 100%;
          }
          @include media(800) {
            font-size: 30px;
            padding: 20px;
            width: 100px;
            padding: 30px;
          }
        }
        p {
          text-align: center;
          font-weight: 500;
          font-size: 17px;
          color: rgb(65, 179, 65);
          @include media(980) {
            font-size: 15px;
          }
        }
      }

      &-amount1 {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 210px;
        @include media(800) {
          padding-bottom: 0;
        }
      }
      &-amount2 {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        gap: 15px;
        @include media(800) {
          padding-bottom: 0;
        }
      }
      &-amount3 {
        max-width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        @include media(980) {
          padding-bottom: 50px;
        }
        @include media(800) {
          padding-bottom: 0;
        }
      }
    }
  }
  &__section2 {
    h3 {
      display: flex;
      flex-direction: column;
      @include media(1160) {
        text-align: center;
      }
    }
    &-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      @include media(1160) {
        justify-content: center;
        gap: 30px;
      }
    }
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media(600) {
        align-items: center;
      }
      img {
        max-width: 550px;
        @include media(600) {
          max-width: 350px;
        }
      }
      p {
        font-weight: 500;
        font-size: 21px;
        max-width: 500px;
        text-align: center;
        padding-top: 20px;
        text-decoration: underline;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      p {
        font-weight: 700;
      }
    }
  }
  &__section3 {
    background-image: url(../../assets/images/iconBanner-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: end;
    margin: 30px 0;
    @include media(630) {
      background: none;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      gap: 8px;
      @include media(630) {
        justify-content: center;
      }
    }

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 8px;
      max-width: 600px;
      img {
        max-width: 150px;
        @include media(450) {
          max-width: 100px;
        }
      }
      p {
        grid-column: span 2 / span 2;
      }
    }

    &-img1 {
      grid-column-start: 3;
      max-width: 195px;
      width: 100%;
      max-height: 280px;
      height: 100%;
      object-fit: contain;
      box-shadow: 1px -2px 15px -5px rgba(34, 60, 80, 0.2);
      transition: transform 0.1s;
    }
  }

  &__section4 {
    h3 {
      text-align: center;
    }
    &-partners {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
      align-items: center;
      @include media(880) {
        display: flex;
        flex-wrap: wrap;
      }
      img {
        max-width: 400px;
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
        @include media(1000) {
          max-width: 350px;
        }
        @include media(800) {
          max-width: 300px;
        }
        &:nth-child(1) {
          grid-column: span 4 / span 4;
        }
        &:nth-child(2) {
          grid-row-start: 2;
        }
        &:nth-child(3) {
          grid-column: span 2 / span 2;
          grid-row-start: 2;
        }
        &:nth-child(4) {
          grid-column-start: 4;
          grid-row-start: 2;
        }
        &:nth-child(5) {
          grid-column: span 2 / span 2;
          grid-row-start: 3;
        }
        &:nth-child(6) {
          grid-column-start: 3;
          grid-row-start: 3;
        }
        &:nth-child(7) {
          grid-column-start: 4;
          grid-row-start: 3;
        }
      }
    }
  }
  &__section5 {
    margin: 40px 0;
    h3 {
      text-align: center;
    }
    &-clients {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      img {
        max-width: 350px;
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
        @include media(800) {
          max-width: 300px;
        }
      }
    }
  }
  &__section6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    &-img {
      max-width: 280px;
      &:nth-child(3) {
        max-width: 200px;
      }
    }
    img {
      width: 100%;
      object-fit: contain;
      margin: 0 auto;
      @include media(800) {
        max-width: 300px;
      }
      &:nth-child(4) {
        max-width: 750px;
      }
    }
    p {
      font-size: 35px;
      color: rgb(109, 161, 93);
      font-weight: 500;
      text-align: center;
    }
  }
}
.corp-manage-page {
  margin: 30px 0;
  .container {
    display: flex;
    gap: 20px;
    align-items: start;
    @include media(1050) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__cardText {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #0068b4;
    &-nav {
      padding: 10px 15px;
      width: 100%;
      background: #d6d6d67f;
      border-bottom: solid 1px rgb(179, 179, 179);
    }
    &-content {
      padding: 15px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      span {
        font-size: 19px;
        font-weight: 500;
      }
      font-size: 14px;
    }
  }
  &__content {
    max-width: 650px;
    h3 {
      text-align: center;
    }
  }
  &__table {
    max-width: 630px;
    width: 100%;
    border-collapse: collapse;
    td {
      border: solid 1px gray;
      p {
        padding: 10px 7px;
        font-size: 14px;
        @include media(500) {
          font-size: 13px;
        }
      }
      a {
        margin: 10px 7px;
        padding: 7px 10px;
        background: #0069b4da;
        color: white;
        border-radius: 5px;
        @include media(500) {
          margin: 7px 5px;
          font-size: 14px;
        }
      }
    }
    &-title {
      // padding: none;
      p {
        text-align: center;
        background: #0069b46c;
        font-weight: 700;
      }
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include media(1050) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &-card {
      max-width: 250px;
      width: 100%;
      padding: 15px 25px;
      border: solid 1px rgb(200, 200, 200);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
      img {
        max-width: 200px;
        object-fit: contain;
      }
      a {
        font-size: 18px;
        color: white;
        padding: 7px 10px;
        background: #000;
        border-radius: 5px;
      }
    }
  }
}
.sign-facts-page {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    max-width: 240px;
    width: 100%;
    padding: 15px 25px;
    border-radius: 3px;
    border: solid 1px rgba(200, 200, 200, 0.802);
    img {
      max-width: 200px;
      width: 100%;
    }
    p{
      span {
        font-weight: 500;
        font-size: 20px;
      }
    }
    a {
      font-size: 18px;
      color: white;
      padding: 7px 10px;
      background: #000;
      border-radius: 5px;
    }
  }
}
.report-page__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.FXD-table-page {
    margin-top: 30px;
  h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }
  &__table {
    width: 100%;  
    border-collapse: collapse;
    td {
      border: solid 1px gray;
      p {
        padding: 10px 7px;
        font-size: 14px;
        @include media(500) {
          font-size: 13px;
        }
      }
      a {
        margin: 10px 7px;
        padding: 7px 10px;
        background: #0069b4da;
        color: white;
        border-radius: 5px;
        @include media(500) {
          margin: 7px 5px;
          font-size: 14px;
        }
      }
    }
    &-title {
      // padding: none;
      p {
        text-align: center;
        background: #0069b46c;
        font-weight: 700;
      }
    }
  }
}