@import url(./fonts.scss);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  background: none;
} 

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@import url(../../components/Header/Header.scss);